
.background {
/* height:100%;
width:100%;
background-repeat: no-repeat;
background-size:cover;
background-position:center;
position: relative;
background-attachment:scroll; */
position: fixed;
    left: -0.1%;
    top: -0.1%;
    width: 100%;
    height: 100%;
}
/* html { 
	background: url(images/Wallpaper1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  } */
.girl {
	position: absolute;
	width: 40%;
	height: 70%;
	bottom: -1%;
	left: 0%;
	animation: girlmoves 10s linear infinite;
	z-index: 2;
} 
.girl2 {
	position: absolute;
	width: 55%;
	height: 55%;
	bottom: -1%;
	left: -30%;
	animation: girlmoves2 10s linear infinite;
} 
	
@keyframes girlmoves {
	from {right: 0px;}
	to { left: 63%;}
}
@keyframes girlmoves2 {
	from {right: 0px;}
	to { left: 100%;}
}

  .animation {
	position: absolute;
	animation: animation 10s linear infinite;
  }

  .h4me {
    position: absolute;
	width: 10px;
	height: 100px;
	bottom: 55%;
	left: 25%;
	animation: h4me 10s linear infinite;
	z-index: 2;
	  }

#slide-in {
	text-align: right;
	color: rgb(54, 2, 65);
	bottom: 80px;
	right: 10px;
  }
  #slide-in2 {
	text-align: right;
	color: rgb(87, 3, 90);
	bottom: 110px;
	right: 10px;
  }

@keyframes animation {
	0% {
	  opacity: 0;
	  right: 0px;
	}

	100% {
	  opacity: 1;
	  right: 20px;
	}
  } 
  @keyframes h4me {
	from {right: 0px;}
	to { left: 63%;}
}
  